<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">./tests/</directory>
            <directory suffix="Test.php">./tests/magzine/</directory>
            <directory suffix="Test.php">./tests/recursion/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
            <directory suffix=".php">./src/magzine/</directory>
            <directory suffix=".php">./src/recursion/</directory>
        </whitelist>
    </filter>
</phpunit>
